<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Crear Cuenta</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />

	<!-- ================== BEGIN core-css ================== -->
	<link href="../assets/css/vendor.min.css" rel="stylesheet" />
	<link href="../assets/css/default/app.min.css" rel="stylesheet" />
	<!-- ================== END core-css ================== -->

	<link href="css/styles.css" rel="stylesheet" />
</head>

<body>
	<div id="app" class="app d-flex">
		<div style="position: absolute; top: 5px; left: 50%; transform: translate(-50%, -50%); z-index: 5000;">
			<a>← Anterior</a>
			|
			<a href="CrearCuenta2.html">Siguiente →</a>
		</div>
		
		<div class="col-xl-5 col-lg-5 col-md-6">
			<div id="header" class="app-header">
				<div class="navbar-header">
					<a href="index.html" class="navbar-brand py-1"><img src="img/logo.png" height="65px" alt=""></a>
				</div>

				<div class="navbar-nav">
					<div class="navbar-item navbar-user dropdown">
						<a class="navbar-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
							<span class="d-none d-md-inline">Español</span> <b class="caret ms-10px"></b>
						</a>
					</div>
				</div>
			</div>

			<br>
			<br>
			<br>
			<br>
			<br>

			<center>
				<div id="content" class="app-content removeMargins">
					<h1 class="page-header" style="font-size: xx-large;">Crear una cuenta</h1>

					<div class="nav-wizards-container">
						<nav class="nav nav-wizards-1 mb-2 navWizardsColors">
							<div class="nav-item col">
								<a class="nav-link completed">
									<div class="nav-no"></div>
									<div class="nav-text">Negocio</div>
								</a>
							</div>
							<div class="nav-item col">
								<a class="nav-link disabled" href="CrearCuenta2.html">
									<div class="nav-no"></div>
									<div class="nav-text">Personal</div>
								</a>
							</div>
							<div class="nav-item col">
								<a class="nav-link disabled" href="CrearCuenta3.html">
									<div class="nav-no"></div>
									<div class="nav-text">Cuenta</div>
								</a>
							</div>
						</nav>
					</div>
				</div>

				<div>
					<h5>¿Cuál es su tipo de negocio?</h5>
					<br>
					<div style="width: 65%;" class="form-floating">
						<select id="tipoNegocio" class="form-select">
							<option value="">Usuario de empresa</option>
						</select>
						<label for="tipoNegocio" class="d-flex align-items-center fs-13px">Seleccione su tipo de
							negocio</label>
					</div>
					<br>
					<br>
					<button style="width: 65%; height: 43px;" class="btn btn-primary"
						onclick="window.location.href='CrearCuenta2.html'">CONTINUAR</button>
				</div>
			</center>
		</div>

		<div class="col-xl-7 col-lg-7 col-md-6 wavyBox" style="overflow: hidden;">
			<img src="../assets/img/gallery/gallery-6.jpg" style="min-height: 100dvh;">
		</div>
	</div>
</body>

</html>