<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Perfil</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href="../assets/css/vendor.min.css" rel="stylesheet" />
    <link href="../assets/css/default/app.min.css" rel="stylesheet" />

    <link href="css/styles.css" rel="stylesheet" />
    <link rel="icon" href="data:,">

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetch("templates/AppHeader.html")
                .then(response => response.text())
                .then(data => {
                    document.getElementById("headerContainer").innerHTML = data;
                    includeFunctions();
                });
        });

        function includeFunctions() {
            var script = document.createElement('script');
            script.src = 'js/functions.js';
            document.body.appendChild(script);
        }
    </script>
</head>

<body>
    <div id="headerContainer"></div>
    <div id="sidebar" class="app-sidebar border-end border-secondary-subtle" data-bs-theme="light" style="z-index: 1;">
        <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
            <div class="menu">
                <div class="menu-profile" style="background-color: rgb(23, 60, 96);">
                    <a class="menu-profile-link" data-toggle="app-sidebar-profile"
                        data-target="#appSidebarProfileMenu">
                        <div class="menu-profile-image menu-profile-image-icon bg-gray-900 text-gray-600">
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="menu-profile-info">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    helen.asen
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="menu-header">Descripción general</div>
                <div class="menu-item active">
                    <a class="menu-link">
                        <div class="menu-text">Mi perfil</div>
                    </a>
                </div>
                <div class="menu-item">
                    <a class="menu-link">
                        <div class="menu-text">Compañías asociadas</div>
                    </a>
                </div>
                <hr>
                <div class="menu-header">Gestionar cuenta</div>
                <div class="menu-item">
                    <a class="menu-link">
                        <div class="menu-text">Configuración de la cuenta</div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="app-content">
        <ol class="breadcrumb float-end mt-2">
            <button class="btn btn-primary mx-2" onclick="window.location.href='RegistrarEmpresa1.html'">REGISTRAR EMPRESA</button>
        </ol>
        <h1 class="page-header">BIENVENIDO</h1>
        <p>¡Hola! Registra tu empresa para empezar a usar más servicios</p>

        <div class="panel border p-3">
            <div>
                <h4 class="panel-title" style="color: rgb(23, 60, 96);">Mi perfil</h4>
            </div>
            <div class="panel-body">
                <div>
                    <div class="perfilCabecera">
                        <span>Nombre</span>
                        <span>Apellido</span>
                        <span>Correo electrónico principal</span>
                        <span>Número de teléfono</span>
                    </div>
                    <div class="perfilContenido">
                        <span>Helen</span>
                        <span>Asen</span>
                        <span>helasen559@robonera.com</span>
                        <span>(+56)988009765</span>
                    </div>
                    <div class="perfilCabecera">
                        <span>Tipo de empresa</span><br>
                    </div>
                    <div class="perfilContenido">
                        <span>Usuario de la empresa</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>