<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Perfil</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN core-css ================== -->
    <link href="../assets/css/vendor.min.css" rel="stylesheet" />
    <link href="../assets/css/default/app.min.css" rel="stylesheet" />
    <!-- ================== END core-css ================== -->

    <link href="css/styles.css" rel="stylesheet" />
</head>

<body>
    <div id="app" class="app app-header-fixed app-sidebar-fixed">
        <div style="position: absolute; top: 5px; left: 50%; transform: translate(-50%, -50%); z-index: 5000;">
            <a href="Home.html">← Anterior</a>
            |
            <a href="RegistrarEmpresa1.html">Siguiente →</a>
        </div>

        <div id="header" class="app-header shadow">
            <div class="navbar-header">
                <a href="index.html" class="navbar-brand py-1"><img src="img/logo.png" height="65px" alt=""></a>
            </div>
            <div class="d-flex align-items-center">
                <span class="mx-3">Seguimiento</span>
                <span class="mx-3">Configurar</span>
                <span class="mx-3">Ayuda</span>
            </div>

            <div class="navbar-nav">
                <div class="navbar-item navbar-form">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                            <select class="form-select" name="" id="">
                                <option value="">Select a Location</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="navbar-item navbar-user dropdown">
                    <a href="#" class="navbar-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
                        <div class="image image-icon bg-gray-800 text-gray-600">
                            <i class="fa fa-user"></i>
                        </div>
                    </a>
                </div>

                <div class="navbar-item dropdown">
                    <a href="#" data-bs-toggle="dropdown" class="navbar-link dropdown-toggle fs-14px">
                        <i class="fa fa-bell"></i>
                        <span class="badge">0</span>
                    </a>
                </div>
            </div>
        </div>
        <div id="sidebar" class="app-sidebar border-end border-secondary-subtle" data-bs-theme="light">
            <div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
                <div class="menu">
                    <div class="menu-profile" style="background-color: rgb(23, 60, 96);">
                        <a href="javascript:;" class="menu-profile-link" data-toggle="app-sidebar-profile"
                            data-target="#appSidebarProfileMenu">
                            <div class="menu-profile-image menu-profile-image-icon bg-gray-900 text-gray-600">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="menu-profile-info">
                                <div class="d-flex align-items-center">
                                    <div class="flex-grow-1">
                                        helen.asen
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="menu-header">Descripción general</div>
                    <div class="menu-item active">
                        <a href="index.html" class="menu-link">
                            <div class="menu-text">Mi perfil</div>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a href="javascript:;" class="menu-link">
                            <div class="menu-text">Compañías asociadas</div>
                        </a>
                    </div>
                    <hr>
                    <div class="menu-header">Gestionar cuenta</div>
                    <div class="menu-item">
                        <a href="javascript:;" class="menu-link">
                            <div class="menu-text">Configuración de la cuenta</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app-sidebar-bg" data-bs-theme="dark"></div>
    <div class="app-sidebar-mobile-backdrop"><a href="#" data-dismiss="app-sidebar-mobile" class="stretched-link"></a>
    </div>

    <div id="content" class="app-content">
        <ol class="breadcrumb float-end mt-2">
            <button class="btn btn-primary mx-2">REGISTRAR EMPRESA</button>
        </ol>
        <h1 class="page-header">BIENVENIDO</h1>
        <p>¡Hola! Registra tu empresa para empezar a usar más servicios</p>

        <div class="panel border p-3">
            <div>
                <h4 class="panel-title" style="color: rgb(23, 60, 96);">Mi perfil</h4>
            </div>
            <div class="panel-body">
                <div>
                    <div class="perfilCabecera">
                        <span>Nombre</span>
                        <span>Apellido</span>
                        <span>Correo electrónico principal</span>
                        <span>Número de teléfono</span>
                    </div>
                    <div class="perfilContenido">
                        <span>Helen</span>
                        <span>Asen</span>
                        <span>helasen559@robonera.com</span>
                        <span>(+56)988009765</span>
                    </div>
                    <div class="perfilCabecera">
                        <span>Tipo de empresa</span><br>
                    </div>
                    <div class="perfilContenido">
                        <span>Usuario de la empresa</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>