<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Registrar Empresa</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href="../assets/css/vendor.min.css" rel="stylesheet" />
    <link href="../assets/css/default/app.min.css" rel="stylesheet" />

    <link href="css/styles.css" rel="stylesheet" />
    <link rel="icon" href="data:,">

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetch("templates/AppHeader.html")
                .then(response => response.text())
                .then(data => {
                    document.getElementById("headerContainer").innerHTML = data;
                    includeFunctions();
                });
        });

        function includeFunctions() {
            var script = document.createElement('script');
            script.src = 'js/functions.js';
            document.body.appendChild(script);
        }
    </script>
</head>

<body>
    <div id="headerContainer"></div>

    <div id="content" class="app-content removeMargins">
        <h1 class="page-header">Registrar empresa</h1>
        <div class="nav-wizards-container">
            <nav class="nav nav-wizards-1 mb-2 navWizardsColors">
                <div class="nav-item col">
                    <a class="nav-link completed">
                        <div class="nav-no">✓</div>
                        <div class="nav-text">Información de la empresa</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link completed">
                        <div class="nav-no"></div>
                        <div class="nav-text">Rol de la empresa</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link">
                        <div class="nav-no"></div>
                        <div class="nav-text">Proveedor de servicios</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link">
                        <div class="nav-no"></div>
                        <div class="nav-text">Información del identificador</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link">
                        <div class="nav-no"></div>
                        <div class="nav-text">Documentos</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link">
                        <div class="nav-no"></div>
                        <div class="nav-text">Revisar y enviar</div>
                    </a>
                </div>
            </nav>
        </div>
        <div class="panel border">
            <div class="panel-body">
                <div class="p-2">
                    <ol class="breadcrumb float-end">
                        <input id="check" type="checkbox">
                        <label for="check" class="mx-2">Seleccionar todo</label>
                    </ol>
                    <div style="font-size: 1.3em;">
                        <span style="color: rgb(23, 60, 96); font-weight: 600;">Seleccione el rol de la empresa</span> ⓘ
                    </div>
                    <div class="m-3">
                        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; gap: 30px;" class="my-2">
                            <div class="card text-center">
                                <div class="card-body">
                                    <i class="fa-regular fa-user" style="font-size: 2.5em;"></i>
                                    <br><br>
                                    <span style="font-weight: 600; font-size: 1.1em;">Beneficial Cargo <br> Owner</span>
                                </div>
                            </div>
                            <div class="card text-center">
                                <div class="card-body">
                                    <i class="fa-regular fa-user" style="font-size: 2.5em;"></i>
                                    <br><br>
                                    <span style="font-weight: 600; font-size: 1.1em;">Container Freight <br>Station</span>
                                </div>
                            </div>
                            <div class="card text-center">
                                <div class="card-body">
                                    <i class="fa-regular fa-user" style="font-size: 2.5em;"></i>
                                    <br><br>
                                    <span style="font-weight: 600; font-size: 1.1em;">Customs Agents</span>
                                </div>
                            </div>
                            <div class="card text-center">
                                <div class="card-body">
                                    <i class="fa-regular fa-user" style="font-size: 2.5em;"></i>
                                    <br><br>
                                    <span style="font-weight: 600; font-size: 1.1em;">Empty Yard</span>
                                </div>
                            </div>
                            <div class="card text-center">
                                <div class="card-body">
                                    <i class="fa-regular fa-user" style="font-size: 2.5em;"></i>
                                    <br><br>
                                    <span style="font-weight: 600; font-size: 1.1em;">Freight Forwarder</span>
                                </div>
                            </div>
                            <div class="card text-center">
                                <div class="card-body">
                                    <i class="fa-regular fa-user" style="font-size: 2.5em;"></i>
                                    <br><br>
                                    <span style="font-weight: 600; font-size: 1.1em;">Importer / Exporter</span>
                                </div>
                            </div>
                            <div class="card text-center">
                                <div class="card-body">
                                    <i class="fa-regular fa-user" style="font-size: 2.5em;"></i>
                                    <br><br>
                                    <span style="font-weight: 600; font-size: 1.1em;">Shipping agent</span>
                                </div>
                            </div>
                            <div class="card text-center">
                                <div class="card-body">
                                    <i class="fa-regular fa-user" style="font-size: 2.5em;"></i>
                                    <br><br>
                                    <span style="font-weight: 600; font-size: 1.1em;">Shipping Line</span>
                                </div>
                            </div>
                            <div class="card text-center">
                                <div class="card-body">
                                    <i class="fa-regular fa-user" style="font-size: 2.5em;"></i>
                                    <br><br>
                                    <span style="font-weight: 600; font-size: 1.1em;">Trucking Company</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ol class="breadcrumb float-end">
            <button class="btn btn-outline-primary mx-2">GUARDAR COMO BOR...</button>
            <button class="btn btn-primary mx-2" onclick="window.location.href='RegistrarEmpresa3.html'">SIGUIENTE</button>
        </ol>
        <button class="btn" style="font-size: 1.2em;" onclick="window.location.href='RegistrarEmpresa1.html'">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> VOLVER...
        </button>
    </div>
</body>

</html>