<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Registrar Empresa</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href="../assets/css/vendor.min.css" rel="stylesheet" />
    <link href="../assets/css/default/app.min.css" rel="stylesheet" />

    <link href="css/styles.css" rel="stylesheet" />
    <link rel="icon" href="data:,">

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetch("templates/AppHeader.html")
                .then(response => response.text())
                .then(data => {
                    document.getElementById("headerContainer").innerHTML = data;
                    includeFunctions();
                });
        });

        function includeFunctions() {
            var script = document.createElement('script');
            script.src = 'js/functions.js';
            document.body.appendChild(script);
        }
    </script>
</head>

<body>
    <div id="headerContainer"></div>

    <div id="content" class="app-content removeMargins">
        <h1 class="page-header">Registrar empresa</h1>
        <div class="nav-wizards-container">
            <nav class="nav nav-wizards-1 mb-2 navWizardsColors">
                <div class="nav-item col">
                    <a class="nav-link completed">
                        <div class="nav-no">✓</div>
                        <div class="nav-text">Información de la empresa</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link completed">
                        <div class="nav-no">✓</div>
                        <div class="nav-text">Rol de la empresa</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link completed">
                        <div class="nav-no">✓</div>
                        <div class="nav-text">Proveedor de servicios</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link completed">
                        <div class="nav-no">✓</div>
                        <div class="nav-text">Información del identificador</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link completed">
                        <div class="nav-no"></div>
                        <div class="nav-text">Documentos</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link">
                        <div class="nav-no"></div>
                        <div class="nav-text">Revisar y enviar</div>
                    </a>
                </div>
            </nav>
        </div>
        <div class="panel border">
            <div class="panel-body">
                <div class="p-2">
                    <ol class="breadcrumb float-end">
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </ol>

                    <div style="font-size: 1.3em;">
                        <span style="color: rgb(23, 60, 96); font-weight: 600;">Compañía documentos</span>
                    </div>
                    <br>
                    <div>
                        <div style="font-size: 1.2em;" class="align-items-center">
                            <span style="color: rgb(23, 60, 96); font-weight: 600;">Archivos soportados: CSV, DOC, DOCX,
                                JPEG image, JPG, PDF, txt, ppt file, pptxfile, xls file, XLSX, PNG</span>
                            <br>
                            <br>
                            <span style="color: rgb(23, 60, 96); font-weight: 600;">Business ID Document (RUT)</span> ⓘ
                        </div>
                        <hr>
                        <div style="display: grid; grid-template-columns: 1fr 1fr 2fr; column-gap: 15px;" class="my-2">
                            <div class="form-floating">
                                <input id="inp1" type="text" class="form-control fs-13px" value="">
                                <label for="inp1" class="d-flex align-items-center fs-13px">Business ID Document (RUT)
                                    ID/No...</label>
                            </div>
                            <div class="form-floating">
                                <input id="inp2" type="date" class="form-control fs-13px" value="">
                                <label for="inp2" class="d-flex align-items-center fs-13px">Fecha de vencimiento</label>
                            </div>
                            <div>
                                <label for="formFile" class="form-label">SUBIR DOCUMENTO
                                    (MAX 10MB)</label>
                                <input class="form-control" type="file" id="formFile">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ol class="breadcrumb float-end">
            <button class="btn btn-outline-primary mx-2">GUARDAR COMO BOR...</button>
            <button class="btn btn-primary mx-2" onclick="window.location.href='RegistrarEmpresa6.html'">SIGUIENTE</button>
        </ol>
        <button class="btn" style="font-size: 1.2em;" onclick="window.location.href='RegistrarEmpresa4.html'">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> VOLVER...
        </button>
    </div>
</body>

</html>