<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Registrar Empresa</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href="../assets/css/vendor.min.css" rel="stylesheet" />
    <link href="../assets/css/default/app.min.css" rel="stylesheet" />

    <link href="css/styles.css" rel="stylesheet" />
    <link rel="icon" href="data:,">

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetch("templates/AppHeader.html")
                .then(response => response.text())
                .then(data => {
                    document.getElementById("headerContainer").innerHTML = data;
                    includeFunctions();
                });
        });

        function includeFunctions() {
            var script = document.createElement('script');
            script.src = 'js/functions.js';
            document.body.appendChild(script);
        }
    </script>
</head>

<body>
    <div id="headerContainer"></div>

    <div id="content" class="app-content removeMargins">
        <h1 class="page-header">Registrar empresa</h1>
        <div class="nav-wizards-container">
            <nav class="nav nav-wizards-1 mb-2 navWizardsColors">
                <div class="nav-item col">
                    <a class="nav-link completed">
                        <div class="nav-no">✓</div>
                        <div class="nav-text">Información de la empresa</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link completed">
                        <div class="nav-no">✓</div>
                        <div class="nav-text">Rol de la empresa</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link completed">
                        <div class="nav-no">✓</div>
                        <div class="nav-text">Proveedor de servicios</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link completed">
                        <div class="nav-no">✓</div>
                        <div class="nav-text">Información del identificador</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link completed">
                        <div class="nav-no">✓</div>
                        <div class="nav-text">Documentos</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link completed">
                        <div class="nav-no"></div>
                        <div class="nav-text">Revisar y enviar</div>
                    </a>
                </div>
            </nav>
        </div>
        <div class="panel border">
            <div class="panel-body">
                <div class="p-2">
                    <div style="font-size: 1.3em;">
                        <span style="color: rgb(23, 60, 96); font-weight: 600;">AGA PRUEBA ITXAP</span>
                    </div>
                    <br>
                    <div class="panel border">
                        <div class="panel-body">
                            <ol class="breadcrumb float-end">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                            </ol>

                            <div>
                                <p style="font-weight: 600; font-size: 1.1em;">Información de la empresa</p>
                                <div
                                    style="display: grid; grid-template-columns: 1fr 1fr 1fr; column-gap: 15px; color: rgb(23, 60, 96);">
                                    <p>Nombre de la empresa</p>
                                    <p>Dirección de la empresa</p>
                                    <p>Tipo de negocio de la empresa</p>
                                </div>
                                <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; column-gap: 15px; font-size: 1.1em; font-weight: 600;"
                                    class="mb-3">
                                    <p>AGA PRUEBA ITXAP</p>
                                    <p>CALLE DOS NORTE, VIÑA DEL MAR, Valparaiso, Chile</p>
                                    <p>Sociedad Limitada (Ltd)</p>
                                </div>
                                <div
                                    style="display: grid; grid-template-columns: 1fr 1fr 1fr; column-gap: 15px; color: rgb(23, 60, 96);">
                                    <p>Contacto</p>
                                    <p>Correo electrónico</p>
                                </div>
                                <div
                                    style="display: grid; grid-template-columns: 1fr 1fr 1fr; column-gap: 15px; font-size: 1.1em; font-weight: 600;">
                                    <p>+56988009765</p>
                                    <p>helasen559@robonera.com</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel border">
                        <div class="panel-body">
                            <ol class="breadcrumb float-end">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                            </ol>

                            <div>
                                <p style="font-weight: 600; font-size: 1.1em;">Información del servicio de la empresa
                                </p>
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td>Rol</td>
                                            <td>Proveedor de servicios</td>
                                        </tr>
                                        <tr>
                                            <td>Customs Agents</td>
                                            <td>
                                                <span class="px-3">
                                                    <img src="img/logo-puerto-angamos.png" height="21px" alt=""> Puerto Angamos
                                                </span>
                                                <span class="px-3">
                                                    <img src="img/logo-puerto-tgn.png" height="21px" alt=""> Puerto TGN
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="panel border">
                        <div class="panel-body">
                            <ol class="breadcrumb float-end">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                            </ol>

                            <div>
                                <p style="font-weight: 600; font-size: 1.1em;">Información de los identificadores
                                </p>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>Rol</td>
                                            <td>Identificadores</td>
                                        </tr>
                                        <tr>
                                            <td>Customs Agents</td>
                                            <td>
                                                <table class="table table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="2">
                                                                <span style="color: rgb(23, 60, 96); font-weight: 600;">Emitido por Terminal - Entidad que emitió el identificador CUSTOMS AGENT RUT</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Service Provider</td>
                                                            <td>identificador</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Chile Inland Services</td>
                                                            <td>2-2</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="panel border">
                        <div class="panel-body">
                            <ol class="breadcrumb float-end">
                                <i class="fa fa-angle-up" aria-hidden="true"></i>
                            </ol>

                            <div>
                                <p style="font-weight: 600; font-size: 1.1em;">Documentos de la empresa
                                </p>
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td>Nombre del documento</td>
                                            <td>Número de identificación</td>
                                            <td>Fecha de Vencimiento</td>
                                            <td>Fecha y Hora de carga</td>
                                            <td>Documentos adjuntos</td>
                                        </tr>
                                        <tr>
                                            <td>RUT</td>
                                            <td>2-2</td>
                                            <td>31-01-2029</td>
                                            <td>1/12/24, 10:04 AM</td>
                                            <td style="color:blue;">Word.pdf</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ol class="breadcrumb float-end">
            <button class="btn btn-outline-primary mx-2">GUARDAR COMO BOR...</button>
            <button class="btn btn-primary mx-2" onclick="window.location.href='RegistrarEmpresa7.html'">SIGUIENTE</button>
        </ol>
        <button class="btn" style="font-size: 1.2em;" onclick="window.location.href='RegistrarEmpresa5.html'">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> VOLVER...
        </button>
    </div>
</body>

</html>