<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Registrar Empresa</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href="../assets/css/vendor.min.css" rel="stylesheet" />
    <link href="../assets/css/default/app.min.css" rel="stylesheet" />

    <link href="css/styles.css" rel="stylesheet" />
    <link rel="icon" href="data:,">

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetch("templates/AppHeader.html")
                .then(response => response.text())
                .then(data => {
                    document.getElementById("headerContainer").innerHTML = data;
                    includeFunctions();
                });
        });

        function includeFunctions() {
            var script = document.createElement('script');
            script.src = 'js/functions.js';
            document.body.appendChild(script);
        }
    </script>
</head>

<body>
    <div id="headerContainer"></div>

    <div id="content" class="app-content removeMargins">
        <h1 class="page-header">Registrar empresa</h1>
        <div class="nav-wizards-container">
            <nav class="nav nav-wizards-1 mb-2 navWizardsColors">
                <div class="nav-item col">
                    <a class="nav-link completed">
                        <div class="nav-no">✓</div>
                        <div class="nav-text">Información de la empresa</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link completed">
                        <div class="nav-no">✓</div>
                        <div class="nav-text">Rol de la empresa</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link completed">
                        <div class="nav-no">✓</div>
                        <div class="nav-text">Proveedor de servicios</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link completed">
                        <div class="nav-no"></div>
                        <div class="nav-text">Información del identificador</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link">
                        <div class="nav-no"></div>
                        <div class="nav-text">Documentos</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link">
                        <div class="nav-no"></div>
                        <div class="nav-text">Revisar y enviar</div>
                    </a>
                </div>
            </nav>
        </div>
        <div class="panel border">
            <div class="panel-body">
                <div class="p-2">
                    <div style="font-size: 1.3em;">
                        <span style="color: rgb(23, 60, 96); font-weight: 600;">Detalles del identificador</span> ⓘ
                    </div>
                    <hr>
                    <div class="d-flex row">
                        <div class="col-2">
                            <div style="font-size: 1.2em;">
                                <span style="color: rgb(23, 60, 96); font-weight: 600;">Roles</span>
                            </div>
                            <hr>
                            <div class="p-2 mt-3">
                                <button class="btn btn-primary form-control">Customs Agents</button>
                            </div>
                        </div>
                        <div class="col-10 border-start">
                            <div style="font-size: 1.2em;" class="align-items-center">
                                <span style="color: rgb(23, 60, 96); font-weight: 600;">Identificadores (1)</span>
                            </div>
                            <hr>
                            <div class="card">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item ali">
                                        <ol class="breadcrumb float-end mt-1" style="font-size: 1.3em;">
                                            <i class="fa-solid fa-plus"></i>
                                        </ol>
                                        <div style="color: rgb(23, 60, 96); font-weight: 600;">
                                            <span class="me-5">Emitido por TERMINAL</span>
                                            <span>Emisor del identificador CUSTOMS AGENT RUT</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; font-weight: 600;">
                                            <span>Service Provider</span>
                                            <span>Customs Agent RUT</span>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <ol class="breadcrumb float-end mt-2" style="font-size: 1.3em;">
                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                        </ol>
                                        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; font-weight: 600;align-items: center;">
                                            <span>Chile Inland Services</span>
                                            <input type="text" class="form-control">
                                        </div>
                                    </li>
                                    <li class="list-group-item" style="white-space: nowrap;">
                                        <ol class="float-end d-flex" style="align-items: center;">
                                            <span>Rows per page: </span>
                                            <input class="form-control mx-2" type="number" value="10">
                                            <span>1 - 1 of 1</span>
                                            <i class="fa-solid fa-angle-left mx-2"></i>
                                            <i class="fa-solid fa-angle-right mx-2"></i>
                                        </ol>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ol class="breadcrumb float-end">
            <button class="btn btn-outline-primary mx-2">GUARDAR COMO BOR...</button>
            <button class="btn btn-primary mx-2" onclick="window.location.href='RegistrarEmpresa5.html'">SIGUIENTE</button>
        </ol>
        <button class="btn" style="font-size: 1.2em;" onclick="window.location.href='RegistrarEmpresa3.html'">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> VOLVER...
        </button>
    </div>
</body>

</html>