<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Registrar Empresa</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN core-css ================== -->
    <link href="../assets/css/vendor.min.css" rel="stylesheet" />
    <link href="../assets/css/default/app.min.css" rel="stylesheet" />
    <!-- ================== END core-css ================== -->

    <link href="css/styles.css" rel="stylesheet" />
</head>

<body>
    <div id="app" class="app app-header-fixed">
        <div style="position: absolute; top: 5px; left: 50%; transform: translate(-50%, -50%); z-index: 5000;">
            <a href="RegistrarEmpresa2.html">← Anterior</a>
            |
            <a href="RegistrarEmpresa4.html">Siguiente →</a>
        </div>

        <div id="header" class="app-header shadow">
            <div class="navbar-header">
                <a href="index.html" class="navbar-brand py-1"><img src="img/logo.png" height="65px" alt=""></a>
            </div>
            <div class="d-flex align-items-center">
                <span class="mx-3">Seguimiento</span>
                <span class="mx-3">Configurar</span>
                <span class="mx-3">Ayuda</span>
            </div>

            <div class="navbar-nav">
                <div class="navbar-item navbar-form">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                            <select class="form-select" name="" id="">
                                <option value="">Select a Location</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="navbar-item navbar-user dropdown">
                    <a href="#" class="navbar-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
                        <div class="image image-icon bg-gray-800 text-gray-600">
                            <i class="fa fa-user"></i>
                        </div>
                    </a>
                </div>

                <div class="navbar-item dropdown">
                    <a href="#" data-bs-toggle="dropdown" class="navbar-link dropdown-toggle fs-14px">
                        <i class="fa fa-bell"></i>
                        <span class="badge">0</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="app-content removeMargins">
        <h1 class="page-header">Registrar empresa</h1>
        <div class="nav-wizards-container">
            <nav class="nav nav-wizards-1 mb-2 navWizardsColors">
                <div class="nav-item col">
                    <a class="nav-link completed">
                        <div class="nav-no">✓</div>
                        <div class="nav-text">Información de la empresa</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link completed">
                        <div class="nav-no">✓</div>
                        <div class="nav-text">Rol de la empresa</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link completed">
                        <div class="nav-no"></div>
                        <div class="nav-text">Proveedor de servicios</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link">
                        <div class="nav-no"></div>
                        <div class="nav-text">Información del identificador</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link">
                        <div class="nav-no"></div>
                        <div class="nav-text">Documentos</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link">
                        <div class="nav-no"></div>
                        <div class="nav-text">Revisar y enviar</div>
                    </a>
                </div>
            </nav>
        </div>
        <div class="panel border">
            <div class="panel-body">
                <div class="p-2">
                    <div style="font-size: 1.3em;">
                        <span style="color: rgb(23, 60, 96); font-weight: 600;">Seleccione proveedor de servicios</span> ⓘ
                    </div>
                    <hr>
                    <div class="d-flex row">
                        <div class="col-2">
                            <div style="font-size: 1.2em;">
                                <span style="color: rgb(23, 60, 96); font-weight: 600;">Roles</span>
                            </div>
                            <div class="p-2 mt-3">
                                <button class="btn btn-primary form-control">Customs Agents (2)</button>
                            </div>
                        </div>
                        <div class="col-10 border-start">
                            <ol class="breadcrumb float-end">
                                <input id="check" type="checkbox">
                                <label for="check" class="mx-2">Seleccionar todo</label>
                            </ol>
                            <div style="font-size: 1.2em;" class="align-items-center">
                                <span style="color: rgb(23, 60, 96); font-weight: 600;">Proveedor de servicios (4)</span>
                                <button class="btn btn-primary rounded-pill mx-2">Chile</button>
                            </div>  
                            <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; gap: 30px;" class="my-2">
                                <div class="card text-center">
                                    <div class="card-body">
                                        <i class="fa-regular fa-user" style="font-size: 2.5em;"></i>
                                        <br><br>
                                        <span style="font-weight: 600; font-size: 1.1em;">Beneficial Cargo <br> Owner</span>
                                    </div>
                                </div>
                                <div class="card text-center">
                                    <div class="card-body">
                                        <i class="fa-regular fa-user" style="font-size: 2.5em;"></i>
                                        <br><br>
                                        <span style="font-weight: 600; font-size: 1.1em;">Container Freight <br>Station</span>
                                    </div>
                                </div>
                                <div class="card text-center">
                                    <div class="card-body">
                                        <i class="fa-regular fa-user" style="font-size: 2.5em;"></i>
                                        <br><br>
                                        <span style="font-weight: 600; font-size: 1.1em;">Customs Agents</span>
                                    </div>
                                </div>
                                <div class="card text-center">
                                    <div class="card-body">
                                        <i class="fa-regular fa-user" style="font-size: 2.5em;"></i>
                                        <br><br>
                                        <span style="font-weight: 600; font-size: 1.1em;">Empty Yard</span>
                                    </div>
                                </div>
                                <div class="card text-center">
                                    <div class="card-body">
                                        <i class="fa-regular fa-user" style="font-size: 2.5em;"></i>
                                        <br><br>
                                        <span style="font-weight: 600; font-size: 1.1em;">Freight Forwarder</span>
                                    </div>
                                </div>
                                <div class="card text-center">
                                    <div class="card-body">
                                        <i class="fa-regular fa-user" style="font-size: 2.5em;"></i>
                                        <br><br>
                                        <span style="font-weight: 600; font-size: 1.1em;">Importer / Exporter</span>
                                    </div>
                                </div>
                                <div class="card text-center">
                                    <div class="card-body">
                                        <i class="fa-regular fa-user" style="font-size: 2.5em;"></i>
                                        <br><br>
                                        <span style="font-weight: 600; font-size: 1.1em;">Shipping agent</span>
                                    </div>
                                </div>
                                <div class="card text-center">
                                    <div class="card-body">
                                        <i class="fa-regular fa-user" style="font-size: 2.5em;"></i>
                                        <br><br>
                                        <span style="font-weight: 600; font-size: 1.1em;">Shipping Line</span>
                                    </div>
                                </div>
                                <div class="card text-center">
                                    <div class="card-body">
                                        <i class="fa-regular fa-user" style="font-size: 2.5em;"></i>
                                        <br><br>
                                        <span style="font-weight: 600; font-size: 1.1em;">Trucking Company</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ol class="breadcrumb float-end">
            <button class="btn btn-outline-primary mx-2">GUARDAR COMO BOR...</button>
            <button class="btn btn-primary mx-2">SIGUIENTE</button>
        </ol>
        <div style="font-size: 1.2em;" class="m-3">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> VOLVER...
        </div>
    </div>
</body>

</html>