<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Registrar Empresa</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN core-css ================== -->
    <link href="../assets/css/vendor.min.css" rel="stylesheet" />
    <link href="../assets/css/default/app.min.css" rel="stylesheet" />
    <!-- ================== END core-css ================== -->

    <link href="css/styles.css" rel="stylesheet" />
</head>

<body>
    <div id="app" class="app app-header-fixed">
        <div style="position: absolute; top: 5px; left: 50%; transform: translate(-50%, -50%); z-index: 5000;">
            <a href="RegistrarEmpresa4.html">← Anterior</a>
            |
            <a href="RegistrarEmpresa6.html">Siguiente →</a>
        </div>

        <div id="header" class="app-header shadow">
            <div class="navbar-header">
                <a href="index.html" class="navbar-brand py-1"><img src="img/logo.png" height="65px" alt=""></a>
            </div>
            <div class="d-flex align-items-center">
                <span class="mx-3">Seguimiento</span>
                <span class="mx-3">Configurar</span>
                <span class="mx-3">Ayuda</span>
            </div>

            <div class="navbar-nav">
                <div class="navbar-item navbar-form">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                            <select class="form-select" name="" id="">
                                <option value="">Select a Location</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="navbar-item navbar-user dropdown">
                    <a href="#" class="navbar-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
                        <div class="image image-icon bg-gray-800 text-gray-600">
                            <i class="fa fa-user"></i>
                        </div>
                    </a>
                </div>

                <div class="navbar-item dropdown">
                    <a href="#" data-bs-toggle="dropdown" class="navbar-link dropdown-toggle fs-14px">
                        <i class="fa fa-bell"></i>
                        <span class="badge">0</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="content" class="app-content removeMargins">
        <h1 class="page-header">Registrar empresa</h1>
        <div class="nav-wizards-container">
            <nav class="nav nav-wizards-1 mb-2 navWizardsColors">
                <div class="nav-item col">
                    <a class="nav-link completed">
                        <div class="nav-no">✓</div>
                        <div class="nav-text">Información de la empresa</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link completed">
                        <div class="nav-no">✓</div>
                        <div class="nav-text">Rol de la empresa</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link completed">
                        <div class="nav-no">✓</div>
                        <div class="nav-text">Proveedor de servicios</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link completed">
                        <div class="nav-no">✓</div>
                        <div class="nav-text">Información del identificador</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link completed">
                        <div class="nav-no"></div>
                        <div class="nav-text">Documentos</div>
                    </a>
                </div>
                <div class="nav-item col">
                    <a class="nav-link">
                        <div class="nav-no"></div>
                        <div class="nav-text">Revisar y enviar</div>
                    </a>
                </div>
            </nav>
        </div>
        <div class="panel border">
            <div class="panel-body">
                <div class="p-2">
                    <ol class="breadcrumb float-end">
                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                    </ol>

                    <div style="font-size: 1.3em;">
                        <span style="color: rgb(23, 60, 96); font-weight: 600;">Compañía documentos</span>
                    </div>
                    <br>
                    <div>
                        <div style="font-size: 1.2em;" class="align-items-center">
                            <span style="color: rgb(23, 60, 96); font-weight: 600;">Archivos soportados: CSV, DOC, DOCX,
                                JPEG image, JPG, PDF, txt, ppt file, pptxfile, xls file, XLSX, PNG</span>
                            <br>
                            <br>
                            <span style="color: rgb(23, 60, 96); font-weight: 600;">Business ID Document (RUT)</span> ⓘ
                        </div>
                        <hr>
                        <div style="display: grid; grid-template-columns: 1fr 1fr 2fr; column-gap: 15px;" class="my-2">
                            <div class="form-floating">
                                <input id="inp1" type="text" class="form-control fs-13px" value="">
                                <label for="inp1" class="d-flex align-items-center fs-13px">Business ID Document (RUT)
                                    ID/No...</label>
                            </div>
                            <div class="form-floating">
                                <input id="inp2" type="date" class="form-control fs-13px" value="">
                                <label for="inp2" class="d-flex align-items-center fs-13px">Fecha de vencimiento</label>
                            </div>
                            <div>
                                <label for="formFile" class="form-label">SUBIR DOCUMENTO
                                    (MAX 10MB)</label>
                                <input class="form-control" type="file" id="formFile">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ol class="breadcrumb float-end">
            <button class="btn btn-outline-primary mx-2">GUARDAR COMO BOR...</button>
            <button class="btn btn-primary mx-2">SIGUIENTE</button>
        </ol>
        <div style="font-size: 1.2em;" class="m-3">
            <i class="fa fa-arrow-left" aria-hidden="true"></i> VOLVER...
        </div>
    </div>
</body>

</html>